# Graylog
GRAYLOG_HTTP_PORT=9000
GRAYLOG_SYSLOG_PORT=514

# Change these in production .env
GRAYLOG_PASSWORD_SECRET=CHANGE_ME
GRAYLOG_ROOT_PASSWORD_SHA2=CHANGE_ME

# OpenSearch
OPENSEARCH_INITIAL_ADMIN_PASSWORD=CHANGE_ME

# Timezone
TZ=Asia/Phnom_Penh
